Functional requirement:

1)Il sistema deve fornire un'opzione per il login
2)Il sistema deve fornire un contatore dei giocatori per le lobby a cui è possibile unirsi.
3)Il sistema deve fornire un elenco di lobbies disponibili con i filtri* applicati.
4)Il sistema deve fornire un metodo per cambiare ruolo*
5)Il sistema deve fornire un metodo di pagamento PayPal
6)Il sistema deve fornire la memorizzazione delle lobbies preferite

*i filtri sono:-barra di ricerca con nome
               -oneshot/campaign
               -live/online
*ruolo: -player
        -DungeonMaster(DM)
